<p class="title">
  IS51 Group Calculator
</p>

<div class="build">
  <div class="screen">
    <input class="screen" type="text" value="{{ answer }}" placeholder="0" readonly [(ngModel)]="answer" >
  </div>
  <div type="grid" class="keys">
    <button *ngFor="let clear of clearArray" type="button" class="btn btn-outline-secondary" (click)="clearNumbers(num)">{{clear}}</button>
    <button type="button" class="btn btn-outline-primary" (click)="add()"  >+</button>
    <button type="button" class="btn btn-outline-primary" (click)="subtract()" >-</button>
    <button type="button" class="btn btn-outline-primary" (click)="divide()" >/</button>
    <button type="button" class="btn btn-outline-primary" (click)="multiply()" >x</button>
    <button *ngFor="let num of numberArray" type="button" class="btn btn-outline-primary" (click)="showNumbers(num)">
      {{ num }}
    </button>
    <button *ngFor="let equal of equals" type="button" class="btn btn-outline-primary" (click)="solve(result)">{{ equal }}</button>
  </div>
</div>